@font-face {
    font-family: 'IAMAPLAYER';
    src: url('https://cdn.jsdelivr.net/gh/projectnoonnu/noonfonts_2307-2@1.0/IAMAPLAYER.woff2') format('woff2');
    font-weight: normal;
    font-style: normal;
}
.introduce{
	font-family: 'IAMAPLAYER';
	text-align: center;
font size: 300px;
}

.img{
	padding: 50px 160px;
	margin: 50px 160px;
}

.contents{
	font-family: 'IAMAPLAYER';
	text-align: center;
padding: 20px auto;
margin: 40px auto;
}

#con_header{
	color: blue;
}
